<div>
  <link href="./component6.css" rel="stylesheet" />
  <div class="component6-container">
    <div class="component6-container1">
      <span class="component6-text">MULTIVERSE</span>
      <span>Copyright © 2022 multiverseC2C.</span>
    </div>
    <div class="component6-container2">
      <div class="component6-container3">
        <span class="component6-text02">
          <span class="Large">Social</span>
          <br />
        </span>
        <span class="component6-text05">
          <a
            href="https://twitter.com/multiversec2c"
            target="_blank"
            rel="noreferrer noopener"
          >
            Twitter
          </a>
          <a
            href="https://twitter.com/multiversec2c"
            target="_blank"
            rel="noreferrer noopener"
          >
            <br />
          </a>
        </span>
        <a
          href="https://t.me/fntoken"
          target="_blank"
          rel="noreferrer noopener"
          class="component6-link2"
        >
          Telegram
        </a>
      </div>
      <div class="component6-container4">
        <span class="component6-text07">
          <a
            href="https://medium.com/@FN_TOKENS"
            target="_blank"
            rel="noreferrer noopener"
            class="component6-link3"
          >
            Medium
          </a>
          <a
            href="https://medium.com/@FN_TOKENS"
            target="_blank"
            rel="noreferrer noopener"
          >
            <br />
          </a>
        </span>
        <a
          href="https://discord.gg/AVRFrVGdN9"
          target="_blank"
          rel="noreferrer noopener"
          class="component6-link5"
        >
          <span class="component6-text09 Large">Discord</span>
          <br />
        </a>
      </div>
    </div>
    <div class="component6-container5">
      <div class="component6-container6">
        <span class="component6-text11 Large">Company</span>
        <span class="component6-text12 Large">About Us</span>
        <span class="component6-text13 Large">Careers</span>
      </div>
      <div class="component6-container7">
        <span class="component6-text14 Large">Pages</span>
        <span class="component6-text15">Home</span>
        <a
          href="https://fntokens.xyz"
          target="_blank"
          rel="noreferrer noopener"
          class="component6-link6 Large"
        >
          Futures
        </a>
      </div>
    </div>
  </div>
</div>
