<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">MULTIVERSE</span>
        <span>Copyright © 2022 multiverseC2C.</span>
      </div>
      <div class="footer-container2">
        <div class="footer-container3">
          <span class="footer-text02">
            <span class="Large">Social</span>
            <br />
          </span>
          <span class="footer-text05">
            <a
              href="https://twitter.com/multiversec2c"
              target="_blank"
              rel="noreferrer noopener"
            >
              Twitter
            </a>
            <a
              href="https://twitter.com/multiversec2c"
              target="_blank"
              rel="noreferrer noopener"
            >
              <br />
            </a>
          </span>
          <a
            href="https://t.me/fntoken"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link2"
          >
            Telegram
          </a>
        </div>
        <div class="footer-container4">
          <span class="footer-text07">
            <a
              href="https://medium.com/@FN_TOKENS"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-link3"
            >
              Medium
            </a>
            <a
              href="https://medium.com/@FN_TOKENS"
              target="_blank"
              rel="noreferrer noopener"
            >
              <br />
            </a>
          </span>
          <a
            href="https://discord.gg/AVRFrVGdN9"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link5"
          >
            <span class="footer-text09 Large">Discord</span>
            <br />
          </a>
        </div>
      </div>
      <div class="footer-container5">
        <div class="footer-container6">
          <span class="footer-text11 Large">Company</span>
          <span class="footer-text12 Large">About Us</span>
          <span class="footer-text13 Large">Careers</span>
        </div>
        <div class="footer-container7">
          <span class="footer-text14 Large">Pages</span>
          <span class="footer-text15">Home</span>
          <a
            href="https://fntokens.xyz"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link6 Large"
          >
            Futures
          </a>
        </div>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
