<div>
  <link href="./header.css" rel="stylesheet" />
  <div data-role="Header" class="header-header">
    <nav class="header-nav">
      <div class="header-container">
        <div class="header-container1">
          <img
            alt="image"
            src="/playground_assets/logowithtext-200h.png"
            class="header-image"
          />
        </div>
        <div class="header-menu">
          <a href="index.html" class="header-navlink Large">Home</a>
          <a
            href="https://fntokens.xyz"
            target="_blank"
            rel="noreferrer noopener"
            class="header-link Large"
          >
            FUTURES
          </a>
          <a
            href="https://mvdex.netlify.com"
            target="_blank"
            rel="noreferrer noopener"
            class="header-link1"
          >
            DEX
          </a>
          <a
            href="https://fntokens4.wixsite.com/mvheroes"
            target="_blank"
            rel="noreferrer noopener"
            class="header-link2"
          >
            <span class="Large header-text">MV-HERORES</span>
            <br />
          </a>
        </div>
        <div class="header-container2">
          <div class="header-container3">
            <div class="header-container4"></div>
          </div>
          <div data-role="BurgerMenu" class="header-burger-menu">
            <svg viewBox="0 0 1024 1024" class="header-icon">
              <path
                d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="header-container5">
          <div data-thq="thq-dropdown" class="header-thq-dropdown list-item">
            <ul data-thq="thq-dropdown-list" class="header-dropdown-list">
              <li data-thq="thq-dropdown" class="header-dropdown list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="header-dropdown-toggle"
                >
                  <span class="header-text2">Sub-menu Item</span>
                </div>
              </li>
              <li data-thq="thq-dropdown" class="header-dropdown1 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="header-dropdown-toggle1"
                >
                  <span class="header-text3">Sub-menu Item</span>
                </div>
              </li>
              <li data-thq="thq-dropdown" class="header-dropdown2 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="header-dropdown-toggle2"
                >
                  <span class="header-text4">Sub-menu Item</span>
                </div>
              </li>
            </ul>
          </div>
          <a
            href="https://fntokens.xyz"
            target="_blank"
            rel="noreferrer noopener"
            class="header-link3"
          >
            <div class="primary-pink-button-container">
              <button class="primary-pink-button-button button ButtonSmall">
                <span>Trade Now</span>
              </button>
            </div>
          </a>
        </div>
      </div>
    </nav>
    <div data-role="MobileMenu" class="header-mobile-menu">
      <div class="header-top">
        <a href="index.html" class="header-link4">Soft UI Design System</a>
        <div data-role="CloseMobileMenu" class="header-close-menu">
          <svg viewBox="0 0 1024 1024" class="header-icon2">
            <path
              d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="header-mid">
        <div class="header-menu1">
          <a href="index.html" class="header-navlink1 Large">Home</a>
          <span class="header-text5 Large">Profile</span>
          <a href="coming-soon.html" class="header-navlink2 Large">
            Coming Soon
          </a>
        </div>
      </div>
      <div class="header-bot">
        <div class="primary-pink-button-container">
          <button class="primary-pink-button-button button ButtonSmall">
            <span>buy now</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
